.control--menu{
    padding: 7px;
    padding-left: 30px;
    margin-bottom: 30px;
    background: #959191;
}
.control--menu a{
    color: white;
}
.pt-4, .py-4{padding-top: 0px !important;}

.m-checkbox{padding: 5px;    background-color: #dddddd; margin-bottom: 5px; border-radius: 5px}

.media{
    width: 100%;
    background-color: white;
    padding: 10px;
    margin: 2px;
    margin-top: 4px;
    box-shadow:5px 5px 5px #dddddd;
}
.media-body{
    width: 100%;
}

a.title{
    display: block;
}

.tags {
    padding: 3px;
    background-color: #dddddd; border-radius: 7px;
}
.blue-button{
    margin-left: 3px;
    padding: 0 5px;
    background-color: #64b5f6;
    border-radius: 5px;
    color: white;
    text-align-all: center;
}
.border-bottom{
    border: 3px;
    border-color: #1f2937;

}
/*.media img{*/
/*    width: 60px;*/
/*    height: 60px;*/
/*    border-radius: 50%;*/
/*}*/
